In [1]:
# https://huggingface.co/datasets/databricks/databricks-dolly-15k/blob/main/databricks-dolly-15k.jsonl

In [17]:
from pathlib import Path
import requests
import json

In [15]:
def download_if_missing(file_path: Path, file_url: str):
    """Downloads the raw json data file and saves it in the given destination."""
    if file_path.exists():
        return
    with open(file_path, "w", encoding="utf-8") as f:
        f.write(requests.get(file_url).text)

In [24]:
destination_path = Path("data/dolly")
data_file_name: str = "dolly_data_cleaned.json"
data_file_path = destination_path / data_file_name
data_file_url = "https://huggingface.co/datasets/databricks/databricks-dolly-15k/resolve/main/databricks-dolly-15k.jsonl"
download_if_missing(data_file_path, data_file_url)

In [25]:
with open(data_file_path, "r", encoding="utf-8") as file:
    data = file.readlines()
    data = [json.loads(line) for line in data]
for item in data:
    item["input"] = item.pop("context")
    item["output"] = item.pop("response")

In [27]:
import pandas as pd

In [29]:
df = pd.DataFrame(data)
df.head()

,instruction,category,input,output
0,When did Virgin Australia start operating?,closed_qa,"Virgin Australia, the trading name of Virgin A...",Virgin Australia commenced services on 31 Augu...
1,Which is a species of fish? Tope or Rope,classification,,Tope
2,Why can camels survive for long without water?,open_qa,,Camels use the fat in their humps to keep them...
3,"Alice's parents have three daughters: Amy, Jes...",open_qa,,The name of the third daughter is Alice
4,When was Tomoaki Komorida born?,closed_qa,Komorida was born in Kumamoto Prefecture on Ju...,"Tomoaki Komorida was born on July 10,1981."

In [34]:
df.to_csv("data/dolly.csv", index=False)

In [36]:
new_df = pd.read_csv("https://gist.githubusercontent.com/aniketmaurya/b8e5bd3f1594bd31ed34375ed916f075/raw/b831e5ab054ac6c94a4a409d32be14b6fdcad82a/databricks-dolly-15k.csv")