In [5]:
%cd lit-gpt

/home/aniket/workspace/aniket-codes/2023-10-11 LLMs-AICamp-London/lit-gpt

In [ ]:
!wget https://gist.githubusercontent.com/aniketmaurya/b8e5bd3f1594bd31ed34375ed916f075/raw/b831e5ab054ac6c94a4a409d32be14b6fdcad82a/databricks-dolly-15k.csv
!mv databricks-dolly-15k.csv /data/aniket/datasets/databricks-dolly-15k.csv

In [1]:
import pandas as pd

df = pd.read_csv("/data/aniket/datasets/databricks-dolly-15k.csv")

In [2]:
df.head()

,instruction,input,output
0,When did Virgin Australia start operating?,"Virgin Australia, the trading name of Virgin A...",Virgin Australia commenced services on 31 Augu...
1,Which is a species of fish? Tope or Rope,NaN,Tope
2,Why can camels survive for long without water?,NaN,Camels use the fat in their humps to keep them...
3,"Alice's parents have three daughters: Amy, Jes...",NaN,The name of the third daughter is Alice
4,When was Tomoaki Komorida born?,Komorida was born in Kumamoto Prefecture on Ju...,"Tomoaki Komorida was born on July 10,1981."

In [6]:
COLUMNS = ["instruction", "input", "output"]
df[COLUMNS].to_csv("databricks-dolly-15k.csv", index=False)

In [7]:
!python scripts/prepare_csv.py \
    --csv_path databricks-dolly-15k.csv \
    --checkpoint_dir /data/aniket/Llama-2-7b-hf \
    --destination_path data/dolly \
    --max_seq_length 512

Loading tokenizer...
train has 13,510 samples
test has 1,501 samples
Processing train split ...
100%|███████████████████████████████████| 13510/13510 [00:11<00:00, 1195.79it/s]
Processing test split ...
100%|█████████████████████████████████████| 1501/1501 [00:01<00:00, 1190.01it/s]

In [ ]:
!python finetune/lora.py \
    --checkpoint_dir /data/aniket/Llama-2-7b-hf \
    --data_dir "data/dolly" \
    --out_dir "out/lora/dolly"

In [ ]:
!python finetune/lora.py \
    --checkpoint_dir /data/aniket/Llama-2-7b-hf \
    --data_dir "data/dolly" \
    --out_dir "out/lora/dolly" \
    --precision bf16-true \
    --quantize bnb.fp4